html,body {
	height: 100%;
	margin:0;
  	padding:0;
	font-family:Arial;
	background-color: #e6f5ff;
}

#timer {
	position: absolute;
	margin-top:20%;
	margin-right:10%;
	right:0;
	z-index: 1;
}

#main {
	align-content: center;
	width: 60%;
	
	margin: auto;
	padding-top:4%;
	background-color: #e6f5ff;
	text-align: center;
	position: relative;
}
#panel {
	display: table;
	width: 600px;
	margin: auto;
	margin-bottom: 40px;
}
#left,#right {
	display: table-cell;
}
#left {
	width:60%;
}
#right {
	width:35%;
	padding-left: 30px;
}
header {
	text-align: center;
	padding: 10px;
}

footer {
	text-align: center;
	padding: 20px 0;
	background-color: lightgrey;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid lightgrey;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    transition: all .15s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 6px;
    background-color: white;
}

.btn:hover {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.action_btn {
	padding: 5px 20px; 
	display:block; 
	margin: 0 0 15px 0;
	font-size: 16px;
	width: 200px;
}

.highlight_btn {border: 3px solid #fab52a;}

.dice {
	width: 50px;
    height: 50px;
}

.active {background-color: #ACCEEC;}

button:focus  {outline:0;}
button:disabled  {cursor: not-allowed;}

#board {
	display: inline-block;
	border: 5px solid #fa8f2a;
	background-color: #398BD4;
	padding: 5px;
	margin: 10px auto 10px auto;
}

#error {
	color: #424242;
	margin: 10px;
}

.msg {
	font-size: 20px;
	font-weight: bold;
}

#score-table {
	width: 330px;
	margin:10px auto;
	background-color: white;
	border: 5px solid #FFCA08;
}
#score-table div {
	display:table;
	width: 100%;
	border-collapse:collapse;
}
#score-table div span {
	display:table-cell;
	width: 50%;
	border: 2px solid #FFCA08;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}
#score-table .table-total {
	background-color: lightblue !important;
	font-weight:bold;
}
#score-table .table-title {
	font-weight:bold;
}

.restart {
	background-color: lightblue;
}
